es_client.py
fb.py
fb.sh
temp
tools
logger
data
testing
output
nlp/docsvec
nlp/locations/raw
nlp/named/data/data_v1/m
nlp/named/data/data_v1/un_bk
nlp/vn_core_nlp
nlp/test
vi_spacy_model-0.2.1
nlp/dataset
data/dataset
data/corpus
.history
.idea
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
./__pycache__
**/__pycache__
**/corpus
**/tmp
**/bin
**/__tmp__
**/__cache__
**/crawler


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bin
*.npy
*.sklearn
*.log
*.pyc

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.skl
*.pkl
*.bin
w2v.*.txt

*.so
.history
